<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="custom_robots">
<xacro:include filename="$(find indy7_description)/urdf/materials.xacro"/>

<xacro:include filename="$(env TAMP_ETASL_DIR)/robots/panda_robot.xacro"/>
<xacro:include filename="$(env TAMP_ETASL_DIR)/robots/indy7_robot.xacro"/>
<link name="world"/>
<!-- BODY BEGIN -->
<xacro:indy7_robot robot_id="0" xyz="-0.446841061115 0.251525461674 0.00928843021393" rpy="-0.000500482817951 0.00848237961543 -1.58320916313" connected_to="world"/>
<xacro:panda_robot robot_id="1" xyz="0.51185053587 0.1689915061 0.0139050483704" rpy="0.00189289953126 0.00749565300636 -1.60355150794" connected_to="world"/>
<!-- BODY END -->
</robot>
