<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="custom_robots">
<xacro:include filename="$(find indy7_description)/urdf/materials.xacro"/>

<xacro:include filename="$(env TF_GMT_ETASL_DIR)/robots/panda_robot.xacro"/>
<xacro:include filename="$(env TF_GMT_ETASL_DIR)/robots/indy7_robot.xacro"/>
<link name="world"/>
<!-- BODY BEGIN -->
<xacro:indy7_robot robot_id="0" xyz="-0.328049600124 -0.0254697203636 0.0018418431282" rpy="-0.00952161836518 -0.00819341519378 1.54180969078" connected_to="world"/>
<xacro:panda_robot robot_id="1" xyz="0.286244928837 0.429062277079 0.00359612703323" rpy="-0.101035998965 -0.0275128574156 -1.57501283665" connected_to="world"/>
<!-- BODY END -->
</robot>
