<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="custom_robots">
<xacro:include filename="$(find indy7_description)/urdf/materials.xacro"/>

<xacro:include filename="$(env TAMP_ETASL_DIR)/robots/panda_robot.xacro"/>
<xacro:include filename="$(env TAMP_ETASL_DIR)/robots/indy7_robot.xacro"/>
<link name="world"/>
<!-- BODY BEGIN -->
<xacro:indy7_robot robot_id="0" xyz="-0.446975767612 0.251331269741 0.0091809630394" rpy="-0.000479467040228 0.00876867086048 -1.58309623578" connected_to="world"/>
<xacro:panda_robot robot_id="1" xyz="0.511975884438 0.16916590929 0.0137903094292" rpy="0.00302905504579 0.00716966608649 -1.60358394961" connected_to="world"/>
<!-- BODY END -->
</robot>
