<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="custom_robots">
<xacro:include filename="$(find indy7_description)/urdf/materials.xacro"/>

<xacro:include filename="$(env RNB_PLANNING_DIR)/src/robots/panda.xacro"/>
<xacro:include filename="$(env RNB_PLANNING_DIR)/src/robots/indy7.xacro"/>
<link name="base_link"/>
<!-- BODY BEGIN -->
<xacro:indy7 robot_id="0" xyz="-0.487072825432 0.26375412941 0.016174197197" rpy="-0.00279357536993 0.00890654193816 -1.57098664825" connected_to="base_link"/>
<xacro:panda robot_id="1" xyz="0.473319411278 0.193055033684 0.0183472633362" rpy="-0.000866180148766 0.00422341913319 -1.59064682222" connected_to="base_link"/>
<!-- BODY END -->
</robot>
