<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="custom_robots">
<xacro:include filename="$(find indy7_description)/urdf/materials.xacro"/>

<xacro:include filename="$(env RNB_PLANNING_DIR)/src/robots/panda.xacro"/>
<xacro:include filename="$(env RNB_PLANNING_DIR)/src/robots/indy7.xacro"/>
<link name="base_link"/>
<!-- BODY BEGIN -->
<xacro:indy7 robot_id="0" xyz="-0.446480512619 0.251528263092 0.00979518890381" rpy="7.72251143907e-05 0.012837732858 -1.58433052921" connected_to="base_link"/>
<xacro:panda robot_id="1" xyz="0.511702060699 0.168303191662 0.014661192894" rpy="0.00371903837049 0.0130669918716 -1.60510658312" connected_to="base_link"/>
<!-- BODY END -->
</robot>
