<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="custom_robots">
<xacro:include filename="$(find indy7_description)/urdf/materials.xacro"/>

<xacro:include filename="$(env RNB_PLANNING_DIR)/src/robots/panda.xacro"/>
<xacro:include filename="$(env RNB_PLANNING_DIR)/src/robots/indy7.xacro"/>
<link name="base_link"/>
<!-- BODY BEGIN -->
<xacro:indy7 robot_id="0" xyz="-0.487381994724 0.264186501503 0.0159141421318" rpy="-0.00264487634469 0.00953402629287 -1.57078364719" connected_to="base_link"/>
<xacro:panda robot_id="1" xyz="0.473399341106 0.192869663239 0.018578350544" rpy="-0.000374430259411 0.00358412421389 -1.59089641456" connected_to="base_link"/>
<!-- BODY END -->
</robot>
