<?xml version="1.0" ?>
<robot name="custom_robots" version="1.0">
  <material name="black">
    <color rgba="0.0 0.0 0.0 1.0"/>
  </material>
  <material name="blue">
    <color rgba="0.0 0.0 0.8 1.0"/>
  </material>
  <material name="green">
    <color rgba="0.0 0.8 0.0 1.0"/>
  </material>
  <material name="grey_">
    <color rgba="0.2 0.2 0.2 1.0"/>
  </material>
  <material name="orange">
    <color rgba="1.0 0.423529411765 0.0392156862745 1.0"/>
  </material>
  <material name="brown">
    <color rgba="0.870588235294 0.811764705882 0.764705882353 1.0"/>
  </material>
  <material name="red">
    <color rgba="0.8 0.0 0.0 1.0"/>
  </material>
  <material name="white">
    <color rgba="1.0 1.0 1.0 1.0"/>
  </material>
  <material name="metal">
    <color rgba="0.76862745098 0.749019607843 0.729411764706 1.0"/>
  </material>
  <material name="metal_grey">
    <color rgba="0.501960784314 0.501960784314 0.501960784314 1.0"/>
  </material>
  <material name="metal_white">
    <color rgba="0.866666666667 0.866666666667 0.890196078431 1.0"/>
  </material>
  <link name="base_link"/>
  <joint name="kmb0_joint_base_link" type="fixed">
    <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
    <parent link="base_link"/>
    <child link="kmb0_link0"/>
  </joint>
  <link name="kmb0_link0"/>
  <link name="kmb0_link1"/>
  <link name="kmb0_link2"/>
  <link name="kmb0_link3"/>
  <link name="kmb0_link4"/>
  <link name="kmb0_link5"/>
  <link name="kmb0_platform">
    <visual>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://my_mesh/meshes/stl/mobile_ds_res.stl"/>
      </geometry>
      <material name="metal_white"/>
    </visual>
    <collision>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.22"/>
      <geometry>
        <box size="1.0 0.75 0.438"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="0.0 0.0 0.0" xyz="-0.25 0.0 0.5"/>
      <geometry>
        <box size="0.5 0.75 0.2"/>
      </geometry>
    </collision>
  </link>
  <joint name="kmb0_joint0" type="prismatic">
    <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
    <axis xyz="1.0 0.0 0.0"/>
    <parent link="kmb0_link0"/>
    <child link="kmb0_link1"/>
    <limit effort="10000.0" lower="-5.0" upper="5.0" velocity="1.0"/>
  </joint>
  <joint name="kmb0_joint1" type="prismatic">
    <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
    <axis xyz="0.0 1.0 0.0"/>
    <parent link="kmb0_link1"/>
    <child link="kmb0_link2"/>
    <limit effort="10000.0" lower="-5.0" upper="5.0" velocity="1.0"/>
  </joint>
  <joint name="kmb0_joint2" type="continuous">
    <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
    <axis xyz="0.0 0.0 1.0"/>
    <parent link="kmb0_link2"/>
    <child link="kmb0_link3"/>
    <limit effort="10000.0" lower="0" upper="0" velocity="1.5708"/>
  </joint>
  <joint name="kmb0_joint3" type="revolute">
    <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
    <axis xyz="1.0 0.0 0.0"/>
    <parent link="kmb0_link3"/>
    <child link="kmb0_link4"/>
    <limit effort="0.0" lower="-0.001" upper="0.001" velocity="0.0"/>
  </joint>
  <joint name="kmb0_joint4" type="revolute">
    <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
    <axis xyz="0.0 1.0 0.0"/>
    <parent link="kmb0_link4"/>
    <child link="kmb0_link5"/>
    <limit effort="0.0" lower="-0.001" upper="0.001" velocity="0.0"/>
  </joint>
  <joint name="kmb0_joint5" type="prismatic">
    <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
    <axis xyz="0.0 0.0 1.0"/>
    <parent link="kmb0_link5"/>
    <child link="kmb0_platform"/>
    <limit effort="0.0" lower="-0.001" upper="0.001" velocity="0.0"/>
  </joint>
  <joint name="indy1_joint_kmb0_platform" type="fixed">
    <origin rpy="0.0 0.0 3.14159265359" xyz="0.172 0.0 0.439"/>
    <parent link="kmb0_platform"/>
    <child link="indy1_link0"/>
  </joint>
  <link name="indy1_link0">
    <inertial>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <mass value="1.59306955"/>
      <inertia ixx="0.00572623" ixy="2.51e-06" ixz="-0.0001138" iyy="0.00558959" iyz="-1.4e-07" izz="0.00966674"/>
    </inertial>
    <visual>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://indy7_description/meshes/stl/Indy7_0.stl"/>
      </geometry>
      <material name="metal_white"/>
    </visual>
    <collision>
      <origin rpy="0.0 0.0 0.0" xyz="-0.1 0.0 0.05"/>
      <geometry>
        <box size="0.14 0.1 0.08"/>
      </geometry>
    </collision>
  </link>
  <link name="indy1_link1">
    <inertial>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <mass value="11.8030102"/>
      <inertia ixx="0.15418559" ixy="-2.35e-06" ixz="1.739e-05" iyy="0.12937017" iyz="-0.04854267" izz="0.05964415"/>
    </inertial>
    <visual>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://indy7_description/meshes/stl/Indy7_1.stl"/>
      </geometry>
      <material name="metal_white"/>
    </visual>
    <collision>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0825"/>
      <geometry>
        <cylinder length="0.3" radius="0.1"/>
      </geometry>
    </collision>
  </link>
  <link name="indy1_link2">
    <inertial>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <mass value="7.99292141"/>
      <inertia ixx="0.2935698" ixy="-4e-07" ixz="1.441e-05" iyy="0.28094142" iyz="0.03727972" izz="0.03620609"/>
    </inertial>
    <visual>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://indy7_description/meshes/stl/Indy7_2.stl"/>
      </geometry>
      <material name="metal_white"/>
    </visual>
    <collision>
      <origin rpy="1.57079632679 0.0 -1.57079632679" xyz="-0.225 0.0 0.09"/>
      <geometry>
        <cylinder length="0.5" radius="0.073"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 -0.01"/>
      <geometry>
        <cylinder length="0.3" radius="0.085"/>
      </geometry>
    </collision>
  </link>
  <link name="indy1_link3">
    <inertial>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <mass value="2.99134127"/>
      <inertia ixx="0.03424593" ixy="1.49e-06" ixz="7.24e-06" iyy="0.03406024" iyz="0.00186009" izz="0.00450477"/>
    </inertial>
    <visual>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://indy7_description/meshes/stl/Indy7_3.stl"/>
      </geometry>
      <material name="metal_white"/>
    </visual>
    <collision>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.03"/>
      <geometry>
        <cylinder length="0.25" radius="0.065"/>
      </geometry>
    </collision>
  </link>
  <link name="indy1_link4">
    <inertial>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <mass value="2.12317035"/>
      <inertia ixx="0.00670405" ixy="3.75e-06" ixz="1.5e-06" iyy="0.00279246" iyz="-0.00127967" izz="0.00619341"/>
    </inertial>
    <visual>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://indy7_description/meshes/stl/Indy7_4.stl"/>
      </geometry>
      <material name="metal_white"/>
    </visual>
    <collision>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 -0.092"/>
      <geometry>
        <cylinder length="0.4" radius="0.06"/>
      </geometry>
    </collision>
  </link>
  <link name="indy1_link5">
    <inertial>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <mass value="2.28865091"/>
      <inertia ixx="0.00994891" ixy="1.4e-07" ixz="3.21e-06" iyy="0.00978189" iyz="-0.00093546" izz="0.00271492"/>
    </inertial>
    <visual>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://indy7_description/meshes/stl/Indy7_5.stl"/>
      </geometry>
      <material name="metal_white"/>
    </visual>
    <collision>
      <origin rpy="0.0 0.0 0.0" xyz="-0.0 0.0 -0.0225"/>
      <geometry>
        <cylinder length="0.23" radius="0.055"/>
      </geometry>
    </collision>
  </link>
  <link name="indy1_link6">
    <inertial>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <mass value="0.40083918"/>
      <inertia ixx="0.00043534" ixy="1.3e-07" ixz="-2e-08" iyy="0.00044549" iyz="5.1e-07" izz="0.00059634"/>
    </inertial>
    <visual>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://indy7_description/meshes/stl/Indy7_6.stl"/>
      </geometry>
      <material name="metal_white"/>
    </visual>
    <collision>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 -0.058"/>
      <geometry>
        <cylinder length="0.26" radius="0.06"/>
      </geometry>
    </collision>
  </link>
  <link name="indy1_tcp"/>
  <joint name="indy1_joint0" type="revolute">
    <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0775"/>
    <axis xyz="0.0 0.0 1.0"/>
    <parent link="indy1_link0"/>
    <child link="indy1_link1"/>
    <limit effort="0.7853981633974483" lower="-2.09439510239" upper="2.09439510239" velocity="0.6544984694978736"/>
  </joint>
  <joint name="indy1_joint1" type="revolute">
    <origin rpy="1.57079632679 1.57079632679 0.0" xyz="0.0 -0.109 0.222"/>
    <axis xyz="0.0 0.0 1.0"/>
    <parent link="indy1_link1"/>
    <child link="indy1_link2"/>
    <limit effort="0.7853981633974483" lower="-1.57079632679" upper="1.57079632679" velocity="0.6544984694978736"/>
  </joint>
  <joint name="indy1_joint2" type="revolute">
    <origin rpy="0.0 0.0 0.0" xyz="-0.45 0.0 -0.0305"/>
    <axis xyz="0.0 0.0 1.0"/>
    <parent link="indy1_link2"/>
    <child link="indy1_link3"/>
    <limit effort="0.7853981633974483" lower="-3.05432619099" upper="3.05432619099" velocity="0.6544984694978736"/>
  </joint>
  <joint name="indy1_joint3" type="revolute">
    <origin rpy="-1.57079632679 0.0 1.57079632679" xyz="-0.267 0.0 -0.075"/>
    <axis xyz="0.0 0.0 1.0"/>
    <parent link="indy1_link3"/>
    <child link="indy1_link4"/>
    <limit effort="0.7853981633974483" lower="-3.05432619099" upper="3.05432619099" velocity="0.7853981633974483"/>
  </joint>
  <joint name="indy1_joint4" type="revolute">
    <origin rpy="1.57079632679 1.57079632679 0.0" xyz="0.0 -0.114 0.083"/>
    <axis xyz="0.0 0.0 1.0"/>
    <parent link="indy1_link4"/>
    <child link="indy1_link5"/>
    <limit effort="0.7853981633974483" lower="-3.05432619099" upper="3.05432619099" velocity="0.7853981633974483"/>
  </joint>
  <joint name="indy1_joint5" type="revolute">
    <origin rpy="-1.57079632679 0.0 1.57079632679" xyz="-0.168 0.0 0.069"/>
    <axis xyz="0.0 0.0 1.0"/>
    <parent link="indy1_link5"/>
    <child link="indy1_link6"/>
    <limit effort="0.7853981633974483" lower="-3.75245789179" upper="3.75245789179" velocity="0.7853981633974483"/>
  </joint>
  <joint name="indy1_tcp" type="fixed">
    <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.06"/>
    <parent link="indy1_link6"/>
    <child link="indy1_tcp"/>
  </joint>
</robot>